click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
dask==2024.3.1
dill==0.3.8
docstring-inheritance==2.2.0
fonttools==4.50.0
fsspec==2024.3.1
importlib_metadata==7.1.0
kiwisolver==1.4.5
locket==1.0.0
markdown-it-py==3.0.0
matplotlib==3.8.3
mdurl==0.1.2
ndtiff==2.2.1
numpy==1.26.4
opencv-python==4.9.0.80
packaging==24.0
partd==1.4.1
pillow==10.2.0
Pint==0.23
pycromanager==0.29.9
Pygments==2.17.2
pymmcore==11.1.1.71.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
pyzmq==25.1.2
rich==13.7.1
six==1.16.0
sortedcontainers==2.4.0
taichi==1.7.0
toolz==0.12.1
typing_extensions==4.10.0
zipp==3.18.1
